@{
  Layout = "_Layout";
}

<form class="form-group" action="/items/new" method="post">
  <label for="item-name">What artifact would you like to store?</label>
  <input type="text" name="item-name" id="item-name">
  <button type="submit" class="btn-lg btn-danger">To the Armory!</button>
</form>
